$color : (
    "primary" : rgb(65, 63, 189),    
    "secondary" : rgb(206, 18, 174),
    "dark" : #000,
    "light" : #DDD,
    "focus" : rgb(128, 128, 128),
    "danger" : rgb(212, 3, 3)
);

//* ACCUEIL

//*changer couleur des flèches du carrousel
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
//   outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
//   border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: map-get($color, primary);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: map-get($color, primary);
}
//* fin flèches carrousel

//* fixer taille du carrousel
.carousel-inner {
    height : 120px;
    @media screen and (min-width: 321px) {
        height : 160px;
    }
    @media screen and (min-width: 376px) {
        height : 200px;
    }
    @media screen and (min-width: 426px) {
        height : 250px;
    }
    @media screen and (min-width: 769px) {
        height : 330px;
    }
    @media screen and (min-width: 1025px) {
        height : 520px;
    }
    @media screen and (min-width: 1441px) {
       height: 1000px;
    }

}

//* PAGE PRODUIT
.toast {
    position: absolute;
    top: 70%;
    // transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#imgNavPeluche {
    > div {
        padding: 0;
        margin: 0;
        > img {
            cursor: pointer;
            width: 60px;
            padding: 0;
            margin: 15px 0 0 15px;
        }
    }
}
.nav-item {
    cursor : pointer;
}
.card-body { 
    position: relative;
    height: 320px;
    @media screen and (min-width: 768px) {
        height : 300px;
    }
    @media screen and (min-width: 1024px) {
        height : 270px;
    }
    > .personnaliser div svg {
        @media screen and (max-width: 320px) {
            width: 50px;
        }
        width: 30px;
        @media screen and (min-width: 426px) {
            width: 60px;
        }
        @media screen and (min-width: 768px) {
            width: 40px;
        }
        @media screen and (min-width: 1024px) {
            width : 30px;
        }
    }
    > .bio:nth-child(3) {
        position: absolute;
        top: 65px;
        display: none;
    }
    > .detail:nth-child(4) {
        position: absolute;
        top: 65px;
        display: none;
    }
}
// #cardText {
//     > svg {
//         width: 20px;
//         margin: 0 5px 0 20px;
//         // border: 1px solid #000;
//         &:hover {
//             cursor: pointer;
//         }
//         &:nth-child(2) path {
//             fill: rgb(155, 76, 20);
//         }
//         &:nth-child(3) {
//             outline: 1px solid map-get($color, dark);
//             outline-offset: 2px;
//             > path {
//                 fill: rgb(223, 144, 27);
//                 // stroke: blue;
//                 // stroke-width: 1%;
//             }
//         }
//         &:nth-child(4) path {
//             fill: sandybrown;
//         }
//     }
// }
.card-footer {
    position: relative;
    > a {
        outline: none; //* sinon cadre moche au chargement de la page
        color: black;
        svg { // cart light
            width: 30px;
            height: 30px;
            cursor: pointer;
            &:nth-child(2) { // cart dark
                position: absolute;
                top: 12px;
                right: 20px;
                opacity: 0;
                &:active {
                    opacity: 1;
                }
            }
        }
    }
}

//* PAGE FORM
.imgCommande {
    width: 70px;
}
.circle svg {
    width: 35px;
}
.bin:hover {
    cursor : pointer;
}
#toastForm {
    top: 30%;
}

input:not(:focus):invalid {
   
    background-color: transparentize(map-get($color, danger), .7);
    // color: red;
}
input:not(:focus):valid {
   
    background-color: transparentize(map-get($color, primary), .9);
    // color: red;
}
